---
import Baselayout from '../layouts/Baselayout.astro';
import ItemCard from '../components/ItemCard.astro';
---

<Baselayout>
	<!-- Item Container -->
	<div
		class='py-15 bg-primary flex flex-wrap justify-around items-center align-middle gap-10 md:gap-0 md:px-20 md:min-h-[calc(100vh-15rem)]'
	>
		<ItemCard
			title='Vol. 1 Hoodie'
			idSuffix='card-1'
			price='60'
			img1='/black_hoodie_front.png'
			img2='/black_hoodie_back.png'
			alt='Black vol. 1 hoodie'
			soldOut={true}
		/>
		<ItemCard
			title='Dreamchaser Tee'
			idSuffix='card-2'
			price='60'
			img1='/white_tee_front.png'
			alt='White dreamchaser t-shirt'
			soldOut={true}
		/>
	</div>
</Baselayout>
