---
import CartSummary from './CartSummary.tsx';

const { pathname } = Astro.url;

const isIndex = pathname === '/';
const isMerch = pathname.startsWith('/merch');
const isMusic = pathname.startsWith('/music');

// Small Screens
const mainDiv = isIndex
	? 'h-20 flex items-center justify-end bg-transparent sticky top-0 z-50'
	: 'h-20 flex items-center justify-end bg-primary sticky top-0 z-50';

const buttonDiv = isIndex
	? 'w-full flex items-center justify-end gap-2 lg:hidden mr-10'
	: 'w-full flex items-center justify-between gap-2 md:hidden mx-10';

const menuList = isIndex
	? 'menu menu-sm border-0 dropdown-content z-[1] p-2 bg-none w-30 text-red-500 text-base font-RockSalt gap-3'
	: 'menu menu-sm border-2 dropdown-content z-[1] shadow bg-red-500 rounded-box w-30 text-black text-base font-RockSalt gap-3';
---

<div class={mainDiv}>
	<!-- Small Screens: Cart | Hamburger Menu -->
	<div class={buttonDiv}>
		<!-- Cart -->
		{!isIndex && <CartSummary client:load />}
		<!-- Hamburger icon -->
		<div class='dropdown dropdown-center stroke-red-500'>
			<button
				tabindex='0'
				role='button'
				class='btn btn-ghost hover:stroke-black hover:bg-red-500'
			>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='h-5 w-5'
					fill='none'
					viewBox='0 0 24 24'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='2'
						d='M4 6h16M4 12h8m-8 6h16'
					>
					</path>
				</svg>
			</button>
			<ul tabindex='0' class={menuList}>
				{
					!isIndex && (
						<li>
							<a class='mx-auto text-xl' href='/'>
								home
							</a>
						</li>
					)
				}
				{
					!isMerch && (
						<li>
							<a class='mx-auto text-xl' href='/merch'>
								merch
							</a>
						</li>
					)
				}
				{
					!isMusic && (
						<li>
							<a class='mx-auto text-xl' href='/music'>
								music
							</a>
						</li>
					)
				}
			</ul>
		</div>
	</div>

	<!-- Medium/Large Screens -->
	<div class='hidden lg:block mr-20'>
		<ul class='menu menu-horizontal gap-15 px-1 text-base font-RockSalt'>
			{
				!isIndex && (
					<li>
						<button class='btn btn-ghost hover:bg-red-500 hover:text-black text-red-500'>
							<a class='text-xl' href='/'>
								home
							</a>
						</button>
					</li>
				)
			}
			{
				!isMerch && (
					<li>
						<button class='btn btn-ghost hover:bg-red-500 hover:text-black text-red-500'>
							<a class='text-xl' href='/merch'>
								merch
							</a>
						</button>
					</li>
				)
			}
			{
				!isMusic && (
					<li>
						<button class='btn btn-ghost hover:bg-red-500 hover:text-black text-red-500'>
							<a class='text-xl' href='/music'>
								music
							</a>
						</button>
					</li>
				)
			}
			{
				!isIndex && (
					<li>
						<CartSummary client:load />
					</li>
				)
			}
		</ul>
	</div>
</div>
